<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/splash.css">
    <title>Splash Screen</title>
    <!-- Add any CSS styles for your splash screen here -->
    <style>
        /* Style for the splash screen */
        
    </style>
</head>
<body>
    <div class="splash-text animate-fade">
        <!-- Splash screen content -->
        <!-- <img src="public\images\logo.png" alt="" srcset=""> -->
        <!-- <h1>MY ADALAT</h1> -->
        
    </div>

    <script>
        // Add a timeout to remove the animation class and redirect to your main page
        setTimeout(function () {
            const splashText = document.querySelector('.splash-text');
            splashText.classList.remove('animate-fade'); // Remove the animation class to fade out
            setTimeout(function () {
                window.location.href = "/home"; // Replace "main.html" with the actual URL of your main page
            }, 1000); // Adjust the timeout (in milliseconds) as needed to match the animation duration
        }, 2000); // Adjust the initial timeout (in milliseconds) as needed
    </script>
</body>
</html>
