<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/home_page_style.css">
</head>
<body>
<div  style="background-color: rgba(252, 250, 250,0.7); margin:auto; width:60%;padding-top: 25px; " >
  <div id="google_element">

  </div>
  <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

  <script>
      function loadGoogleTranslate(){
          new google.translate.TranslateElement("google_element")
      }
  </script>
<center><h1 style="margin-top: 50px;font-size: 50px;">COURT CASE MANAGEMENT</h1></center>
<center><p style="margin-top: 25px;font-size: 22px;">Managing cases made easy!</p></center>

  <div class="container" style="margin-top: 150px ;"> 
  <center>    
    <form action="/login" method="GET">
      <button type="submit" style="background-color: black">Login</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit" style="background-color: black">Register</button>
    </form>
</center> </div>
</div>
</body>
</html>
<script>
  window.embeddedChatbotConfig = {
  chatbotId: "bUHmqdsLeAacHKnsmgSPM",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="bUHmqdsLeAacHKnsmgSPM"
  domain="www.chatbase.co"
  defer>
  </script>